.header-home {
  display: none;

  @media (max-width:414px) {
    position: fixed;
    top: 0;
    width: 100%;
    height: 44px;
    background: #fff;
    border-bottom: 1px solid $third-gray;
    padding: 0 12px;
    z-index: 1200;
    @include flex-align-items-center-justify-content-sb;
  }

  &-logo {
    @include side-logo(110px, 40px, 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1600px-Instagram_logo.svg.png', false);
    cursor: pointer;
  }
}

.home {
  width: 100%;
  min-height: 100vh;
  @include flex-justify-content-center;
  padding: 36px 0;
  background: #FAFAFA;

  @media (max-width:414px) {
    width: 100%;
    padding-top: 0;
    padding-bottom: 48px;
  }

  &-listGroup {
    width: 502px;

    @media (max-width:414px) {
      width: 100%;
    }
  }

  &-list {
    width: 470px;

    @media (max-width:414px) {
      width: 100%;
    }
  }

  &-list-reality {
    padding: 16px 0;
    border: 1px solid $third-gray;
    border-radius: 10px;
    overflow-x: scroll;
    display: flex;
    background: #fff;

    @media (max-width:414px) {
      border-right: none;
      border-left: none;
      border-radius: 0;
      background: $light-gray;
      padding-top: 52px;
    }
  }

  .reality {
    width: 76px;
    margin: 0 7px;
    @include flex-center;
    flex-wrap: wrap;

    &:first-child {
      margin-left: 14px;
    }

    &-pic-outside {
      @include circle(65px);
      background-image: linear-gradient(to bottom left, #e14fad 0%, #f9d423 100%);
      position: relative;

      &::before {
        content: '';
        @include ab-center;
        @include circle(60px);
        background: #fff;
      }
    }

    &-pic {
      @include userPic(56px);
      @include ab-center;
    }

    &-title {
      h5 {
        font-size: 14px;
        text-align: center;
        margin-top: 6px;
        width: 56px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  &-side {
    width: 319px;
    margin-top: 24px;

    @media (max-width:820px) {
      display: none;
    }
  }

  .user {
    @include flex-align-items-center-justify-content-sb;
    margin-bottom: 16px;

    &-detail {
      @include flex-align-items-center;
    }

    &-pic {
      @include userPic(56px);
      margin-right: 12px;
    }

    &-account {
      font-weight: bold;
      margin-bottom: 4px;
      cursor: pointer;
    }

    &-name {
      color: $primary-gray;
    }

    &-switch-account-btn {
      button {
        color: $blue;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .suggestUser {
    &-title {
      @include flex-align-items-center-justify-content-sb;

      span {
        color: $primary-gray;
        font-weight: bold;
      }

      button {
        font-weight: bold;
        font-size: 14px;
      }
    }

    &-list {
      padding: 8px 0;
    }

    &-list-item {
      @include flex-align-items-center-justify-content-sb;
      padding: 8px 0;
    }

    &-list-item-detail {
      @include flex-align-items-center;
      cursor: pointer;
    }

    &-list-item-pic {
      @include userPic(36px);
      margin-right: 12px;
    }

    &-list-item-account {
      font-weight: bold;
    }

    &-list-item-follow-btn {
      color: $blue;
      font-size: 14px;
      font-weight: bold;
    }
  }
}