.home {
  width: 100%;
  @include flex-justify-content-center;
  padding-top: 36px;
  background: #FAFAFA;

  &-listGroup {
    width: 502px;
  }

  &-list {
    width: 470px;
  }

  &-list-reality {
    padding: 16px 0;
    border: 1px solid $third-gray;
    border-radius: 10px;
    overflow-x: scroll;
    display: flex;
    background: #fff;
  }

  .reality {
    width: 76px;
    margin: 0 7px;
    @include flex-center;
    flex-wrap: wrap;

    &:first-child {
      margin-left: 14px;
    }

    &-pic-outside {
      @include circle(65px);
      background-image: linear-gradient(to bottom left, #e14fad 0%, #f9d423 100%);
      position: relative;

      &::before {
        content: '';
        @include ab-center;
        @include circle(60px);
        background: #fff;
      }
    }

    &-pic {
      @include userPic(56px);
      @include ab-center;
    }

    &-title {
      h5 {
        font-size: 14px;
        text-align: center;
        margin-top: 6px;
        width: 56px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }

  .post {
    min-height: 755.5px;
    border: 1px solid $third-gray;
    border-radius: 10px;
    margin-top: 12px;
    overflow: hidden;

    .account {
      font-weight: bold;
      cursor: pointer;
    }

    &-header {
      height: 56px;
      @include flex-align-items-center-justify-content-sb;
      padding: 0 12px;
    }

    &-user {
      @include flex-align-items-center;

      &-pic {
        @include userPic(36px);
        margin-right: 12px;
      }
    }


    &-pic {
      height: 537.26px;
      width: 470px;


      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-main {
      min-height: 162.24px;
      padding: 12px;
    }

    &-icons {
      @include flex-align-items-center;
      justify-content: space-between;
      padding-bottom: 12px;

      button {
        padding: 0;
      }

      &-left {
        button {
          margin-right: 20px;
        }
      }
    }

    &-likeCount {
      font-weight: bold;
      padding-bottom: 12px;
    }

    &-text {
      line-height: 1.3;
      margin-bottom: 12px;
      @include flex-align-items-center;

      span {
        display: inline-block;
      }

      .account {
        margin-right: 6px;
      }

      .hide-text-group {
        @include flex-align-items-center;
      }

      .hide-text {
        max-width: 270px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;

      }

      .more-text {
        width: 32px;
        color: $primary-gray;
        margin-left: 6px;
        cursor: pointer;
      }

      .tag {
        color: $dark-blue;
        margin-right: 6px;
        font-size: 16px;
        padding: 0;
      }
    }

    &-date {
      color: $primary-gray;
      font-size: 12px;
    }
  }

  &-side {
    width: 319px;
    margin-top: 24px;
  }

  .user {
    @include flex-align-items-center-justify-content-sb;
    margin-bottom: 16px;

    &-detail {
      @include flex-align-items-center;
      cursor: pointer;
    }

    &-pic {
      @include userPic(56px);
      margin-right: 12px;
    }

    &-account {
      font-weight: bold;
      margin-bottom: 4px;
    }

    &-name {
      color: $primary-gray;
    }

    &-switch-account-btn {
      button {
        color: $blue;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }

  .suggestUser {
    &-title {
      @include flex-align-items-center-justify-content-sb;

      span {
        color: $primary-gray;
        font-weight: bold;
      }

      button {
        font-weight: bold;
        font-size: 14px;
      }
    }

    &-list {
      padding: 8px 0;
    }

    &-list-item {
      @include flex-align-items-center-justify-content-sb;
      padding: 8px 0;
    }

    &-list-item-detail {
      @include flex-align-items-center;
      cursor: pointer;
    }

    &-list-item-pic {
      @include userPic(36px);
      margin-right: 12px;
    }

    &-list-item-account {
      font-weight: bold;
    }
    &-list-item-follow-btn{
      color: $blue;
      font-size: 14px;
      font-weight: bold;
    }
  }
}