.postDetail {
  margin-top: 0;
  border-radius: 0;

  &-body {
    width: 75vw;
    height: calc(100vh - 40px);
    border-radius: 0;
    display: flex;
  }

  &-pic {
    background: #000;
    width: 55%;
    height: 100%;
    position: relative;
    cursor: default;

    div {
      width: 100%;
      height: 90%;
      @include ab-center;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-show-fav {
    @include position-t-r-b-l-0(absolute);
    z-index: 5;
    cursor: default;

    span {
      @include ab-center;
      font-size: 100px;
      color: #fff;
      animation: showFav 1s forwards;
    }
  }
}

.post {

  &-detail {
    background: #fff;
    width: 45%;
    height: 100%;
    position: relative;

    &-header {
      @include flex-align-items-center-justify-content-sb;
      padding: 20px;
      border-bottom: 1px solid $light-gray;
    }

    .user-detail {
      @include flex-align-items-center;
    }

    .user-pic {
      @include userPic(36px);
      margin-right: 20px;
    }

    .post-msg {
      padding: 8px 20px 0;
      height: 500px;
      overflow: scroll;

      li {
        padding: 8px 0;
        @include flex-align-items-center-justify-content-sb;
      }

      &-content {
        display: flex;
        align-items: start;

        .user-detail {
          margin-right: 4px;
          display: inline-block;
        }

        .user-account {
          margin-right: 4px;
        }

        .text {
          font-size: 14px;
          line-height: 1.3;
        }

        .post-date {
          margin-top: 4px;
          @include flex-align-items-center;

          button {
            color: $primary-gray;
          }
        }
      }

      &-favBtn {
        font-size: 14px;
      }
    }

    &-footer {
      position: fixed;
      bottom: 0;
      width: 45%;

      .post-icons {
        padding: 20px;
        border-top: 1px solid $light-gray;
      }

      .post-likes {
        padding: 0 20px 20px;
        font-size: 14px;
      }

      .post-date {
        padding: 0 20px 20px;
      }

      label {
        position: relative;

        input {
          border-top: 1px solid $light-gray;
          width: 100%;
          border-radius: 0;
          padding: 20px;
        }

        button {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
        }
      }

    }
  }
}