@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');
@import './scss/variable';
@import './scss/reset';
@import './scss/index';
@import './scss/post';
@import '../page/LayoutSide/layoutSide';
@import '../page/Home/home';
@import '../components/Modal/modal';
@import '../components/Modal/PostMore/postMore';
@import '../page/UserPage/userPage';
@import '../components/Modal/Post/post';