.container{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.d-none {
  display: none;
}

.fwb {
  font-weight: bold;
}
.main{
  width: 83%;
}
.red-color {
  color: $red;
}
.blue-color{
  color: $blue; 
}
.tag {
  color: $dark-blue;
  font-size: 16px;
  padding: 0;
}