.container{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.d-none {
  display: none;
}
.d-md-none{
  @media (max-width:820px) {
    display: none;
  }
}

.fwb {
  font-weight: bold;
}
.main{
  width: 83%;
  @media (max-width:820px) {
    width: 90%;
  }
  @media (max-width:414px) {
    width: 100%;
  }
}
.red-color {
  color: $red;
}
.blue-color{
  color: $blue; 
}
.tag {
  color: $dark-blue;
  font-size: 16px;
  padding: 0;
}
.bd-none{
  border: none !important;
}