@mixin side-li-size {
  height: 48px;
  padding: 12px;
  @include flex-align-items-center;
}

@mixin side-logo($w, $h, $url, $marginL: false) {
  width: $w;
  height: $h;
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;

  @if $marginL {
    margin-left: 12px;
  }
}

.side {
  height: 100vh;
  display: flex;
  z-index: 1;

  &-all {
    position: fixed;
    border-right: 1px solid $third-gray;
    padding: 12px;
    height: 100%;
  }

  &-logo {
    height: 92px;
    @include flex-align-items-center;

    &-big {
      @include side-logo(110px, 40px, 'https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1600px-Instagram_logo.svg.png', false);
      cursor: pointer;
    }

    &-sm {
      @include side-logo(24px, 24px, 'https://cdn-icons-png.flaticon.com/512/87/87390.png', true);
      cursor: pointer;
    }
  }

  &-list {
    height: 78vh;

    li {
      @include side-li-size;
      margin: 12px 0;
      cursor: pointer;
    }

    .user-pic {
      @include userPic(24px);
    }
  }


  .icon {
    font-size: 28px;
    margin-left: 0;
  }

  .icon-circle {
    border: 1px solid $secondary-gray;
    border-radius: 50%;
    padding: 10px;
    font-weight: bold;
  }

  span {
    font-size: 18px;
    margin-left: 16px;
  }

  &-more {
    position: relative;

    div {
      @include side-li-size;
      cursor: pointer;
    }
  }

  &-moreBtnGroup {
    width: 238px;
    height: 220px;
    position: absolute;
    top: -240px;
    left: 0;
    border-radius: 5px;
    box-shadow: 5px 2px 10px $secondary-gray;
    background: #fff;

    li {
      width: 100%;
      height: 44px;
      padding: 12px;
      @include flex-align-items-center-justify-content-sb;
      border-bottom: 1px solid $secondary-gray;

      &:nth-child(3) {
        border-width: 4px;
      }

      &:last-child {
        border: none;
      }
    }
  }

  &-search {
    position: fixed;
    width: 397px;
    height: 100vh;
    left: 5%;
    top: 0;
    background: #fff;
    border-radius: 0 15px 15px 0;
    border: 1px solid $secondary-gray;
    border-left: none;
    box-shadow: 1px 2px 10px $secondary-gray;

    h2 {
      font-size: 22px;
      height: 65px;
      margin-top: 8px;
      padding: 12px 12px 12px 18px;
      font-weight: bold;
    }

    label {
      width: 100%;
      position: relative;
      padding: 12px;

      input {
        background: $light-gray;
        height: 43px;
        padding: 3px 16px;
        width: calc(100% - 24px);

      }

      button {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        color: $primary-gray;
      }
    }

    &-list {
      height: 83vh;
      margin-top: 24px;
      border-top: 1px solid $secondary-gray;

      ul {
        height: 100%;
        overflow: scroll;
      }
    }

    &-recently {
      position: relative;
      // border: 1px solid #000;
      height: 100%;

      .recently {
        @include flex-align-items-center-justify-content-sb;
        height: 60px;
        padding: 12px 18px;
      }

      h3 {
        font-size: 18px;
        font-weight: bold;
      }

      button {
        color: $blue;
        font-weight: bold;
        font-size: 16px;
      }

      p {
        @include ab-center;
        color: $primary-gray;
        font-size: 15px;
        font-weight: bold;
      }

      ul {
        height: calc(100% - 60px);
      }
    }

    .search-card {
      height: 60px;
      @include flex-align-items-center-justify-content-sb;
      cursor: pointer;
      padding: 12px 18px;

      &:hover {
        background: $light-gray;
      }

      &-main {
        @include flex-align-items-center;
      }

      &-pic {
        @include userPic(44px);
        margin-right: 12px;
      }

      &-title {
        @include flex-justify-content-center;
        flex-direction: column;
        align-items: start;

        h4 {
          font-weight: bold;
          font-size: 15px;
        }

        h5 {
          color: $primary-gray;
          font-size: 17px;
          margin-top: 2px;
        }
      }

      &-footer {
        button {
          color: $primary-gray;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
  }
}